html, body{
    width: 100%;
    height: 100%;
}

#nav-text {
    color: #5f5151;
    font-weight: 600;
    font-size: 14px;
}

#nav-text-b{
    color: aliceblue;
    font-weight: bold;
    font-size: 14px;
}


.nav-item{
    padding-left: 15px;
}

.btn{
    font-size: 12px;
    font-weight: 900;
    padding: 10px 4px 10px 4px;
    border-radius: 13px;
}

.verde{
    background-color: #1dd800;
    border-style: none;
}

.verde-g{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1dd800;
    border-style: none;
    padding: 10px;
}

.amarelo{
    color: black;
    background-image: linear-gradient(rgb(184, 169, 26), rgb(250, 250, 185));
    border-style: none;
    margin-left: 10px;
}

.navbar{
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-fluid{
    margin-left: 170px;
    margin-right: 170px;
}

section#inicio{
    background-image: url("./images/padre-2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: inherit;
    background-position: center;

    width: 100%;
    height: 65vh;
}

h1.branco{
    color: aliceblue;

}

h1.texto-verde{
    color: #7efe2e ;

}




