{% extends 'base.html' %}

{% block body %}
<main id="main">

    <section id="inicio" class="row m-0 p-0">
        <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
            <h1 class="branco">FAÇA PARTE DA MAIOR</h1>
            <h1 class="texto-verde">COMUNIDADE CATÓLICA</h1>
            <h1 class="branco">ON-LINE DO BRASIL!</h1>
            <a class="btn btn-primary verde-g" href="#" role="button">SEJA MEMBRO AGORA</a>
        </div>
        <div class="col-md-6">

        </div>
    </section>
</main>
{% endblock %}