<nav class="navbar navbar-expand-md navbar-ligth" style="background-color: black;">
    <div class="container-fluid container">
        <a class="navbar-brand" href="#">
            <img src="../static/images/Logo Horizontal dourada.webp" alt="Logo do Padre Mario" width="150" height="40">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <ul class="d-flex navbar-nav">
                <li class="nav-item text-p">
                    <a class="nav-link active" href="#" id="nav-text">PÁGINA INICIAL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="nav-text-b">DÚVIDAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="nav-text-b">FORMAÇÕES GRATUITAS</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary verde" href="#" role="button">SEJA MEMBRO</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary amarelo" href="#" role="button">SOU MEMBRO</a>
                </li>
            </ul>
        </div>
    </div>
</nav>